/* Для гафиков */

button {
	height: 19px;
}

form {
	width: 100%;
	height: fit-content;
	text-align: center;
	margin: 10px 0 10px 0;
}

.graph_plo {
    position: relative;
    display: block;
	width: 600px;
	height: 600px;
	border: 1px solid black;
	background: url(../images/graph_plo.jpg);
    overflow: hidden;
}

[data-tooltip] {
    position: relative;
   }
   [data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    width: 300px;
    left: 0; top: 0;
    background: #3989c9;
    color: #fff;
    padding: 0.5em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    opacity: 0;
    transition: 1s;
   } 
   [data-tooltip]:hover::after {
    opacity: 1;
    top: 2em;